
{% extends 'base.html' %}


{% block menu %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'core_home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
        <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
        <a class="dropdown-item" href="{% url 'core_lista_mensalista' %}">Mensalistas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'core_lista_mov_rotativos' %}">Rotativos</a>
        <a class="dropdown-item" href="{% url 'core_lista_mov_mensalista' %}">Movimento Mensal</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Logout</a>
    </li>
    
  </ul>    
{% endblock menu %}
    


{% block main %}
<div class="row">
    <div class="col">
        <h1>Olá bem vindo ao Sistema</h1>
        <a href="#" class="btn btn-outline-primary"> Acessar o Sistema</a>
    </div>
</div>

{% endblock main %}
