{% extends  'base.html' %}
{% load bootstrap %}
{% block menu %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="{% url 'core_home' %}">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
        <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
        <a class="dropdown-item active" href="{% url 'core_lista_mensalista' %}">Mensalistas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'core_lista_mov_rotativos' %}">Rotativos</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Logout</a>
    </li>
    
  </ul>    
{% endblock menu %}
{% block main %}
    
<div class="row">

    <div class="col-sm-6">
      <h2>Cadastrar</h2>
        <form action="{% url 'core_mensalista_novo' %}" method="post">
            {% csrf_token %}
            {{form|bootstrap}}
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            
        </form>
    </div>
    <div class="col-sm-6">
      <h2>Lista de Mensalista</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Veiculo</th>
              <th scope="col">Inicio</th>
              <th scope="col">Valor Mensal</th>
            </tr>
          </thead>
          <tbody>
            {% for mensalista in mensalistas  %}              
              <tr>
                  <th scope="row">{{ mensalista.id }}</th>
                  <td><a href="{% url 'core_mensalista_update' mensalista.id %}">{{ mensalista.veiculo }}</a></td>              
                  <td>{{ mensalista.inicio }}</td>
                  <td>R$ {{ mensalista.valor_mes }}</td>
              </tr>
            {%endfor%} 

          </tbody>
        </table>
    </div>
</div>
{% endblock main %}
